*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#dfdfdf;
    font-family:'Courier New', Courier, monospace;
    color:#333333;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.dashboard-container{
    display:flex;
    align-items:stretch;
    flex:1;
}

nav{
    width:200px;
    background-color:darkblue;
    padding:20px;

    display:flex;
    flex-direction:column;
}

nav ul{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:0;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:4px;
    transition:background 0.3s;
}

nav a:hover{
    background-color:#34495e;
    color:#ffcc00;
}

.perfil-usuário{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.1);
    margin-top:auto;
}

.perfil-usuário img{
    width:40px;
    height:40px;
    border-radius:50%;
}

main{
    flex:1;
    padding:30px;
    background-color:darkgray;
}
.container-cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

article{
    flex:1;
    min-width:250px;
    background-color:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);

    display:flex;
    flex-direction:column;
}

article h2{
    color:#004a8d;
    margin-bottom:10px;
}

article p{
    margin-bottom:20px;
    color:#555;
}

footer{
    background-color:#333;
    color:white;
    text-align:center;
    padding:15px;
    font-size:14px;
}

.btn{
    margin-top:auto;
    display:inline-block;
    text-align:center;
    background-color:#004a8d;
    color:white;
    padding:10px;
    text-decoration:none;
    border-radius:4px;
    transition:background 0.3s;
}

.btn:hover{
    background-color:#003366;
}